.navbar {
  background: white;
  padding: 0 64px 0 64px !important;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.page-padding {
  padding: 40px 64px 0 64px;
}

.app {
  background-color: #F5F5F5;
  height: 100vh;
}